<div class="container" ng-controller="customerctrl">
  <h3>Customer form</h3>
  <form class="form-horizontal" role="form">
    <div class="form-group row">
      <label for="id" class="col-sm-2 form-control-label">S.NO</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" id="inputEmail3" ng-model="newcustomer.id" placeholder="s.no">
      </div>
    </div>

    <div class="form-group row">
      <label for="name" class="col-sm-2 form-control-label">NAME</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" id="inputEmail3" ng-model="newcustomer.name" placeholder="Name">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2">SEX</label>
      <div class="col-sm-2">
        <div class="radio">
          <label class="active">
            <input type="radio" name="gridRadios" id="gridRadios1" ng-model="newcustomer.sex" value="MALE" checked="checked">Male
          </label>
          <label>
            <input type="radio" name="gridRadios" id="gridRadios2" ng-model="newcustomer.sex" value="FEMALE">Female
          </label>
      </div>
    </div>
    </div>
    <div class="form-group row">
      <label for="email" class="col-sm-2 form-control-label">E-MAIL</label>
      <div class="col-sm-4">
        <input type="email" class="form-control" id="inputEmail3" ng-model="newcustomer.email" placeholder="email"><br>
      </div>
    </div>
        <input type= "button" class="btn btn-primary btn-md  " ng-click="addcustomer()" value=ADD><br><br>
    </form>
    <h3>Customer Lists</h3>
  	<div class="table-responsive">
      <table class="table table-bordered table-hover">
  			<thead>
          <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Sex</th>
              <th>Email</th>
              <th>Action</th>
  			</tr>
  			</thead>
          <tr ng-repeat="newcustomer in customers" align="center">

        <td>{{ newcustomer.id }}</td>
        <td>{{newcustomer.name}}        </td>
        <td> {{newcustomer.sex}}</td>
        <td>{{newcustomer.email }}</td>
        <td> <a ng-click = "edit()">EDIT|</a>
             <a ng-click = "delte()">DELETE</a>
          </tr>
      </table>

    </div>
  </div>
