<div class="container" ng-controller="customerctrl">
  <h3>Customer form</h3>
  <form class="form-horizontal" role="form">
      <div class="form-group row">
      <label for="name" class="col-sm-2 form-control-label">NAME</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" id="inputEmail3" ng-model="newcustomer.name" placeholder="Name" required>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2">SEX</label>
      <div class="col-sm-2">
        <div class="radio">
          <label class="active">
            <input type="radio" name="gridRadios" id="gridRadios1" ng-model="newcustomer.sex" value="MALE" checked="checked" required>Male
          </label>
          <label>
            <input type="radio" name="gridRadios" id="gridRadios2" ng-model="newcustomer.sex" value="FEMALE">Female
          </label>
      </div>
    </div>
    </div>
    <div class="form-group row">
      <label for="email" class="col-sm-2 form-control-label">E-MAIL</label>
      <div class="col-sm-4">
        <input type="email" class="form-control" id="inputEmail3" ng-model="newcustomer.email" placeholder="email" required><br>
      </div>
    </div>
        <input type= "button" class="btn btn-primary btn-md  " ng-click="addcustomer()" value=ADD>
        <a href = "#/list" class = "btn btn-primary btn-md ">Customers List</a>
    </form>
      </div>
