<div class="container" ng-controller= "tranctrl">
  <h3>Customer Info:</h3>
  <form class="form-horizontal" role="form">
      <div class="form-group row">
      <label for="name" class="col-sm-2 form-control-label">NAME:</label>
      <div class="col-sm-4">
        {{service.name}}
      </div>
    </div>
    <form class="form-horizontal" role="form">
        <div class="form-group row">
        <label for="name" class="col-sm-2 form-control-label">EMAIL:</label>
        <div class="col-sm-4">
          {{service.email}}
        </div>
      </div>


      </form>
<form id="main" >
			<h1>Products</h1>

			<ul id="services">
				<!-- The services will be inserted here -->
				<li ng-repeat="service in services">
					<label>
					<input type="checkbox" ng-model="service.selected" value="1" name="{{service.title}}" />
						{{service.title}}<span>${{service.price}}</span></label>
				</li>
			</ul>

			<p id="total">total: <span>${{total()}}</span></p>
      <p id ="total"><a href = "#/print/" class= "btn btn-primary btn-md">print</a>
    </form>
    <a href = "#/list/" class = "btn btn-primary btn-md ">Customers List</a>
    <a href = "#/add/" class = "btn btn-primary btn-md">Add Customer</a>

<div class="table-responsive">
  <table class="table table-bordered table-hover">
  <thead>
    <tr>
      <td>Name</td>
      <td>Email</td>
      <td>Description</td>
      <td>price</td>
      <td></td>
    </tr>
  </thead>
  <tfoot>
    <tr>
            <td><input type="text" ng-model="service.name"></td>
            <td><input type="email" ng-model="service.email"></td>
            <td><input type="text" ng-model="service.title" style="width: 99%"></td>
            <td><input type="number" ng-model="service.price" style="width: 85px"></td>
            <td><a ng-click="addtran()">[+]</a></td>
          </tr>
</div>
  </div>
